{% extends 'base.html' %}

{% block head %}

    <title>Edit Class</title>

{% endblock %}

{% block body %}
    <br>
    <div class="row justify-content-md-center">
    <div class="col col-md-9">
        <div class="card">
            <h5 class="card-header bg-white mt-1 mb-1">Edit Class</h5>
            <div class="card-body">
                
                <form autocomplete="off" action="{{url_for('views.edit_class')}}" method='POST'>
                    <input type="hidden" id="id" name="id" value="{{ class_to_edit.class_id }}">
                    <input type="hidden" id="action" name="action" value="retrieve">
                    
                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="subject_id">Subject</label>
                                <select class="selectpicker" data-size="6" id="subject_id" name="subject_id" required data-width="100%">
                                    {% for subject in subjects %}
                                        {% if subject.subject_id == class_to_edit.subject.subject_id %}
                                            <option selected value="{{ subject.subject_id }}">
                                                {{ subject.__str__() }}
                                            </option>
                                        {% else %}
                                            <option value="{{ subject.subject_id }}">
                                                {{ subject.__str__() }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <label for="teacher_id">Teacher</label>
                                <select class="selectpicker" data-size="6" id="teacher_id" name="teacher_id" required data-width="100%">
                                    {% for teacher in teachers %}
                                        {% if teacher.teacher_id == class_to_edit.teacher.teacher_id %}
                                            <option selected value="{{ teacher.teacher_id }}">
                                                {{ teacher.name }}
                                            </option>
                                        {% else %}    
                                            <option value="{{ teacher.teacher_id }}">
                                                {{ teacher.name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <label for="group_ids">Study Groups</label>
                                <select class="selectpicker" data-size="6" multiple id="group_ids" name="group_ids" required data-width="100%">
                                    {% for group in groups %}
                                        {% if group in class_to_edit.students_groups %}
                                            <option selected value="{{ group.group_id }}">
                                                {{ group.name }}
                                            </option>
                                        {% else %}
                                            <option value="{{ group.group_id }}">
                                                {{ group.name }}
                                            </option>
                                        {% endif %}
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group row">
                                <div class="col-lg">
                                    <label for="num_per_week">Number of classes per week</label>
                                    <input class="form-control" type="number" name="num_per_week" id="num_per_week" min="1" required value="{{ class_to_edit.num_per_week }}">
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card" name="mycard" id="mycard">
                        <div class="card-header">
                            Equipment (optional)
                        </div>
                        <div class="card-body">
                            <div class="form-check form-check-inline">
                                {% if class_to_edit.equipment_required.computers_lab %}
                                    <input class="form-check-input" type="checkbox" name="{{ equipment_options[0] }}" id="{{ equipment_options[0] }}" value="True" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" name="{{ equipment_options[0] }}" id="{{ equipment_options[0] }}" value="True">
                                {% endif %}
                                <label class="form-check-label" for="{{ equipment_options[0] }}">{{ equipment_options[0] }}</label><br>
                            </div>
                            <div class="form-check form-check-inline">
                                {% if class_to_edit.equipment_required.physics_lab %}
                                    <input class="form-check-input" type="checkbox" name="{{ equipment_options[1] }}" id="{{ equipment_options[1] }}" value="True" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" name="{{ equipment_options[1] }}" id="{{ equipment_options[1] }}" value="True">
                                {% endif %}
                                <label class="form-check-label" for="{{ equipment_options[1] }}">{{ equipment_options[1] }}</label><br>
                            </div>
                            <div class="form-check form-check-inline">
                                {% if class_to_edit.equipment_required.chemistry_lab %}
                                    <input class="form-check-input" type="checkbox" name="{{ equipment_options[2] }}" id="{{ equipment_options[2] }}" value="True" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" name="{{ equipment_options[2] }}" id="{{ equipment_options[2] }}" value="True">
                                {% endif %}
                                <label class="form-check-label" for="{{ equipment_options[2] }}">{{ equipment_options[2] }}</label><br>
                            </div>
                            <div class="form-check form-check-inline">
                                {% if class_to_edit.equipment_required.biology_lab %}
                                    <input class="form-check-input" type="checkbox" name="{{ equipment_options[3] }}" id="{{ equipment_options[3] }}" value="True" checked>
                                {% else %}
                                    <input class="form-check-input" type="checkbox" name="{{ equipment_options[3] }}" id="{{ equipment_options[3] }}" value="True">
                                {% endif %}
                                <label class="form-check-label" for="{{ equipment_options[3] }}">{{ equipment_options[3] }}</label><br>
                            </div>
                        </div>
                    </div>

                    <div class="text-right mt-4 mb-2">
                        <a type="button" class="btn btn-secondary mr-2" href="{{ url_for('views.classes') }}">Cancel</a>
                        <button type="submit" class="btn btn-primary">Save Changes</button>
                    </div>
                    
                </form>
             
            </div>
        </div>
    </div>
    </div>

{% endblock %}